*{
   margin: 0;
   padding: 0;
   font-family: 'poppins',sans-serif;
    
}
body{
    background: rgb(77, 75, 72);
}

.container{
    padding: 20px;
    margin: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    font-size: 12px;
    font-weight: 15px;
    background-color: rgb(255, 255, 255);
}

.container h2{
   font-size: 15px;
   font-weight: 600;
   margin-bottom: 8px;
   padding: 0 7px;
}
.container input{
    width: 94%;
    height: 50px;
    border: 1px solid #494eea;
    outline: none;
    border-radius: 5px;
   
    margin:10px 0;
    padding: 8px 12px;

 
    
}

.container button{
    width: 100%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;

}

#imgBox{
 width: 200px;
 border-radius: 5px;
 max-height: 0;
 overflow: hidden;
 transition: max-height 1s ease-in-out, margin 0.3s;

}

#imgBox img{
    width: 100%;
    padding: 10px;
    display: block;

}

#imgBox.show-img{
    max-height: 300px;
    margin:20px auto ;
    border: 1px solid #da1414;
}

.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake {
    0%{
        transform: translate(0%);
    }
}